<table class="tx-annuaire-hv" >
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_service.libelle" />
		</td>
		<td>
		{service.libelle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_service.batiment" />
		</td>
		<td>
		{service.batiment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_service.bureau" />
		</td>
		<td>
		{service.bureau}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_service.tel" />
		</td>
		<td>
		{service.tel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_service.horaires" />
		</td>
		<td>
		{service.horaires}
		</td>
	</tr>
</table>