
<table class="tx-annuaire-hv" >
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_organisme.raisonsociale" />
		</td>
		<td>
		{organisme.raisonsociale}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_organisme.adresse" />
		</td>
		<td>
		{organisme.adresse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_organisme.cp" />
		</td>
		<td>
		{organisme.cp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_organisme.ville" />
		</td>
		<td>
		{organisme.ville}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_organisme.tel" />
		</td>
		<td>
		{organisme.tel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_organisme.fax" />
		</td>
		<td>
		{organisme.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_organisme.email" />
		</td>
		<td>
		{organisme.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_organisme.description" />
		</td>
		<td>
		{organisme.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_organisme.siret" />
		</td>
		<td>
		{organisme.siret}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_organisme.logo" />
		</td>
		<td>
				<f:image src="{organisme.logo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_organisme.horaires" />
		</td>
		<td>
		{organisme.horaires}
		</td>
	</tr>
</table>