
<table class="tx-annuaire-hv" >
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_contact.nom" />
		</td>
		<td>
		{contact.nom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_contact.prenom" />
		</td>
		<td>
		{contact.prenom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_contact.tel" />
		</td>
		<td>
		{contact.tel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_contact.email" />
		</td>
		<td>
		{contact.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_contact.adresse" />
		</td>
		<td>
		{contact.adresse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_contact.cp" />
		</td>
		<td>
		{contact.cp}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_contact.ville" />
		</td>
		<td>
		{contact.ville}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_contact.photo" />
		</td>
		<td>
				<f:image src="{contact.photo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_annuairehv_domain_model_contact.presentation" />
		</td>
		<td>
		{contact.presentation}
		</td>
	</tr>
</table>